Flow 2.json
[
    {
        "id": "fcf9da5a.11d4c8",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b34147b1.ee3958",
        "type": "mqtt in",
        "z": "fcf9da5a.11d4c8",
        "name": "",
        "topic": "mcs/DtuolCRG/Nb4jPQ9jvwmYz6gF/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "43f10ab3.372394",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "afb5777a.8b1d48"
            ]
        ]
    },
    {
        "id": "afb5777a.8b1d48",
        "type": "csv",
        "z": "fcf9da5a.11d4c8",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": ",,Data",
        "skip": "0",
        "strings": true,
        "x": 150,
        "y": 340,
        "wires": [
            [
                "fa2d1799.286ed8"
            ]
        ]
    },
    {
        "id": "fa2d1799.286ed8",
        "type": "change",
        "z": "fcf9da5a.11d4c8",
        "name": "Get Data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 440,
        "wires": [
            [
                "60b5a52b.4af68c"
            ]
        ]
    },
    {
        "id": "60b5a52b.4af68c",
        "type": "ui_gauge",
        "z": "fcf9da5a.11d4c8",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 390,
        "y": 440,
        "wires": []
    },
    {
        "id": "43f10ab3.372394",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt.mcs.mediatek.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]